<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Form Test</title>

    <?PHP
        echo shell_exec("python ./app2.py");
    ?>

</head>
    <script src="{{ url_for('static', filename='../static/js/app.js') }}"></script>



    <body>
       
        <script>
            <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="goPython()">
            function goPython(){
                import {PowerShell} from 'python-shell'
                PythonShell.run("FINAL PROJECTS/Heroku/pets_pals_class_2022/pets_pals_class_2022/pet_pals/app2.py");
            }
        </script>

    </body>

</html>

